

{% load static %}

{% block links %}
<!-- Custom Theme files -->
<link href="{% static 'css/signup_styles.css' %}" rel="stylesheet" />
<!-- //Custom Theme files -->
<!-- web font -->
<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
<!-- //web font -->
{% endblock links %}

{% block content %}

<!-- main -->
	<div class="main-w3layouts wrapper">
		<h1>Registration</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form method="post">
                    {% csrf_token %}
					<input class="text" type="text" name="username" placeholder="username" required="">
                    <input class="text" type="text" name="first_name" placeholder="first name" required="">
                    <input class="text" type="text" name="last_name" placeholder="last name" required="">
					<input class="text email" type="email" name="email" placeholder="Email" required="">
					<input class="text" type="password" name="password1" placeholder="Password" required="">
					<input class="text w3lpass" type="password" name="password2" placeholder="Confirm Password" required="">
					<input type="submit" value="Sign up">
				</form>
			</div>
		</div>
		<!-- copyright -->
		<div class="colorlibcopy-agile">
			<p>© 2018 Colorlib Signup Form. All rights reserved | Design by <a href="https://colorlib.com/" target="_blank">Colorlib</a></p>
		</div>
		<!-- //copyright -->
		<ul class="colorlib-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<!-- //main -->
{% endblock %}