{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Popular News
{% endblock title %}

{% block content %}
<h1>Самые последние новости!!!</h1>
    {% if perms.news.add_post %}
    <a href="{% url 'create_news' %}">Add News</a>
    <a href="{% url 'create_article' %}">Add Article</a>
    {% endif %}
    {% if news %}
        <ul>
            {% for post in news %}
                <li>
                    <h2><a href="/news/{{ post.id }}">{{ post.title|censor }}</a></h2>
                    <h4>Категории: {{ post.get_categories }}</h4>
                    <h6>Дата добавления: {{ post.creation_datetime|date:'M d Y' }}</h6>
                    <b>Рейтинг: {{ post.rating }}</b>
                    <p>Автор: {{ post.post_author.author_user.username }}</p>
                    {% if perms.news.change_post  and post.post_author.author_user == request.user %}
                    <a href="{% url 'update' pk=post.id %}">Update</a>
                    {% endif %}
                    <!-- At the moment only superuser can delete post, even author of the post cannot... -->
                    {% if perms.news.delete_post %}
                    <a href="{% url 'delete' pk=post.id %}">Delete</a>
                    {% endif %}
                    <hr>

                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h3>К сожалению на сайте в данный момент нет новостей!</h3>
    {% endif %}
<!-- Pagination -->
{% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
{% endif %}

    {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}