{% extends 'flatpages/default.html' %}

{% load custom_tags %}
{% load custom_filters %}

{% block title %}Search post{% endblock title %}

{% block navbar %}
<li class="nav-item"><a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a></li>
<li class="nav-item"><a class="nav-link active" href="{% url 'search' %}">Search</a></li>
{% endblock navbar %}

{% block content %}
<form action="" method="get">
       {{ filter.form.as_p }}
       <input type="submit" value="Найти" />
   </form>
{% if news %}
        <ul>
            {% for post in news %}
                <li>
                    <h2><a href="/news/{{ post.id }}">{{ post.title|censor }}</a></h2>
                    <h4>Категории: {{ post.get_categories }}</h4>
                    <h6>Дата добавления: {{ post.creation_datetime|date:'M d Y' }}</h6>
                    <b>Рейтинг: {{ post.rating }}</b>
                    <p>Автор: {{ post.post_author.author_user.username }}</p>
                    <hr>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h3>К сожалению на сайте нет новостей с заданными критериями!</h3>
    {% endif %}
<!-- Pagination -->
{% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
{% endif %}
{% if news %}
    {{ page_obj.number }}
{% endif %}
   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}