<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        {% load static %}
        <title>{% block title %}News Portal{% endblock title %}</title>
        {% block links %}
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        {% endblock links %}
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{% url 'home' %}">News Portal</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        {% block navbar %}
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'search' %}">Search</a></li>
                        {% endblock navbar %}
                        {% if not request.user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'account_login' %}">Sign In</a></li>
                        {% else %}
                            <li class="nav-item" ><a class="nav-link" href="{% url 'account_logout' %}">Log Out</a></li>
                        {% endif %}
                        {% if request.user.is_authenticated and not is_author %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'add_new_author' %}">Become an author</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container">
            {% block content %}{% endblock content %}
        </div>
    </body>
</html>
